In [9]:
import requests
import json
import time
import pandas as pd
from tqdm import tqdm
import numpy as np

api_key = "RGAPI-634409ca-df0d-4177-880d-9e9c0930e1b8"

In [7]:
matchdata = {}
matchwins = {}
for i in tqdm(matchId):
    url = "https://asia.api.riotgames.com/lol/match/v5/matches/"+i+"/timeline?api_key="+api_key
    r = requests.get(url)

    if r.status_code ==200:
        pass
    elif r.status_code==429:
        print('api cost full : infinite loop start')
        print('loop location: ' ,i)
        start_time=time.time()
    
        while True:
            if r.status_code == 429:
                print('try 120 second wait time')
                time.sleep (120)
                
                r = requests.get (match_url)
                print(r_match.status_code)
            elif r.status_code == 200:
                print('total wait time :' , time.time() - start_time)
                print('recovery api cost')
                break
        
    try:
        matchdata[i]=r.json()['info']['frames'][10]
        # matchwins[]
    except:
        print("Error")

 60%|██████    | 3/5 [00:01<00:00,  2.18it/s]

Error

100%|██████████| 5/5 [00:02<00:00,  1.97it/s]

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
matchId = ['KR_6416085964', 'KR_6416039783', 'KR_6416021626', 'KR_6415864679', 'KR_6415827891']

In [55]:
df = getLastData(api_key, 0)

downloading Last Data

100%|██████████| 5/5 [00:02<00:00,  2.05it/s]

TimelineData downloaded!

In [56]:
df["redDragonType"][0]

'EARTH_DRAGON,HEXTECH_DRAGON,CHEMTECH_DRAGON,CHEMTECH_DRAGON'

In [31]:
h = [0,1,2]
try:
    h[9]
    print("yes")
except:
    print("NO")

NO

In [10]:
from loldata_eda import lolDataEda

In [14]:
lolDataEda("CL10")

In [15]:
lolDataEda("CL15")
lolDataEda("GM10")
lolDataEda("GM15")

In [11]:
df = pd.read_csv("/Users/ichang-ug/Documents/GitHub/esports_YSAL/LOL/CHANGWOOK/CL15_last_fix.csv")

In [12]:
df

,blueWins,blueTotalGolds,blueTotalLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueTotalDamageToChampion,blueFirstBlood,blueKill,blueDeath,blueAssist,...,blueAIR_DRAGON,blueEARTH_DRAGON,blueCHEMTECH_DRAGON,blueHEXTECH_DRAGON,redWATER_DRAGON,redFIRE_DRAGON,redAIR_DRAGON,redEARTH_DRAGON,redCHEMTECH_DRAGON,redHEXTECH_DRAGON
0,1,68345,68,821,234,133185,1,34,36,80,...,1,0,1,0,0,0,0,0,1,0
1,1,45134,59,572,152,82355,0,30,17,39,...,1,0,1,1,0,0,0,0,0,0
2,1,59883,67,672,234,112250,1,34,30,89,...,0,1,0,0,0,1,0,0,0,1
3,0,28396,45,445,101,32956,1,9,19,13,...,0,0,0,0,0,0,0,0,0,1
4,0,57451,67,741,157,102647,1,39,37,51,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,1,44325,54,563,165,60656,1,28,13,40,...,0,0,0,1,1,0,0,0,0,0
1517,0,33987,46,485,99,44699,1,24,25,31,...,0,0,0,1,0,1,0,0,1,0
1518,1,42094,50,454,98,79347,1,36,14,61,...,0,0,1,0,0,0,0,0,0,1
1519,1,29957,43,412,102,37715,1,22,6,30,...,0,0,1,0,0,0,0,0,0,0
1520,0,27460,44,469,101,30780,0,7,24,8,...,0,0,0,0,0,0,1,0,1,0

In [10]:
url="https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/III?page=1&api_key=" + api_key

In [11]:
r = requests.get(url)
r = r.json()
for i in r:
    print(i['summonerName'])

나는동네북이라네
건학이
llIIIllIlllIlIl
jikbakgurl
펜타닐마약바니걸
나나나눈누
리아쥬아
해가 아름다웠어
W1NGMAN
누나 제발
프로응애러
Seasons Change
숟가락 정점
닉값제데로함
벌레들과 춤을
땡스기빙데이
쌍쌍쌍
심신비정상인
족밥처럼 굴지마
김홍순3
Chovy 팬입니다
싸우고싶다
눈 예뻐지고 시포
PIXELNU
누수액
KOR961010
탱커챔
작은 미어캣
진짜 못참겠는데
하이 눈 김주호
다이아들다주거
천국에서 온 자
Mannim2
비정상적인 팀운
싸발연이
Eqecx
야옹야옹송아지
상어 코 때리기
마산 조루왕
세화여고 이요원
SEK4
나는할수있습니다
생 혼
뚜 딴
쥐종대왕
llllIIIIIllllll
원천징수영끌7천
이응빡
데마시아 컷
23년생원딜러
tlswlemwkddls
zl존Er락DARK왕
Karsc
배고파요헝그리
bixin32567904
잠시만놀게
Round One
폭유 정욱
그 총
말걸지마라잡종
오뚜기300분미트볼
5코3성람머스
깽 랑
뭘그래뻐이보노
이재명식 누누
얼굴완전작음
jiumeng
Park Shin Won
FA Silky
마스터이금비
채원이귀엽지
겜에정떨어진사람
샨테비스탄
빨간색banana
백 산
HappY Game DotaX
TES99
암살자가요
재능의 개화
뚱녀만골라팬다
잘했써
코르키개안좋음
이렇게까지해야하
체리콕도둑
저어어엉글러
똥  뿌  직
kr7
허쉬초코토네이도
상호리
꼬시기만지는유현
FreeBro
낮잠zz
먹던콩
탑라인만가는사람
와두콩
돌진완
쥬지튼튼영운이
Rebirth Cookie
겨울을 기다려요
Dramaturgy
이동혓
해물탕수육
땅진이입니다
귤 킹
겨울엔 찬물
껸과류
빈둥빙둥
임영록
자지잡놈
건들면터지는원딜
두엔날드자두
푸욜뿌욜
단대미쳐패는놈
상호민교뜨뜨
화약통 대신 딱콩
리아리토
이즈잡아주세요
가나다나가나다나
커리맛 똥
빡치면 너도하셈
IGOLNIK
그님 티 모요
숯불돼지고기
강프로식사잡숴써
성민치
최 효 팔
약속된승리의검
By사탕막대
봉담쭈니
prideofmyparents
윤태준2번째계정
천하의 정글러
포챠나 인형
나답게
무관귀1신
평화공원
자크 베놈
구데기킬러
동 빙
도토리비빔막국수
실패한 삶의 남자
레드보리
yangfanchuhai
비응신도구
Seopport
전지적르블랑시점
낭만없는
이대론안돼
벌 헤는 밤
여왕의 진가
뚱스라이팅
김재환3
인천동양동불주먹
열정 그리고 냉정
anycoloryoulike
붉은 너구리
원딜벽느낀사람
상남자 권혁
이화시장두번째집
y3n
차광선글라스
폐관수련다시시작
진심모드 반수민
Ie0 messi
오홍영입니다
립 스
유빈이 지켜 줘
용현핸섬
리신머가리
엠 돌
잠실여고 수아
첫판노갱
갈비굽는장인
Imagine that
T1 김예원
Solace
밥음복
syrahW
아이오니아
채팅게임 롤
23년4월24일와라
나쁜하루보내세요
cs에민감한사람
a1dc
혼자자요
조 쯩
신형만fan
2007 10 12
참을라
캣뽀즈
Valh4lla
곽두팔남친
아이러브유
어리둥절엉망진창
플레티넘 망나니
안가싫어부르지마
lllIlIIlIlIIl
골통분쇄자류성현
잘해보고 싶은데
세우스입니다
첫눈에 그대와
덜비빈비빕밥
퀴여운코콤미
노유미 노브라움
zsxcasdasd

In [14]:
print(r)

{'status': {'message': 'Forbidden', 'status_code': 403}}

In [2]:
import getLoLData2

In [14]:
df = getLoLData2.getTimelineData(api_key, 4,15)
df.to_csv("/Users/ichang-ug/Documents/GitHub/esports_YSAL/LOL/Data/PL_15.csv")

downloading summonerID!
summonerId downloaded!
downloading puuid!

 47%|████▋     | 96/205 [01:00<01:02,  1.74it/s]

api cost full : infinite loop start
loop location :  _7FPqJKvmw9Q_IZFkR__snhwQ7Spp8G8pZgtc44oJtoUgORe
try 120 second wait time

 47%|████▋     | 97/205 [03:01<1:06:19, 36.85s/it]

200
total wait time : 120.5239770412445
recovery api cost

 96%|█████████▌| 196/205 [03:50<00:04,  1.87it/s]

api cost full : infinite loop start
loop location :  qYY_8f9ctyDngvdw5rFvHCdZOM7oML_fM3aNFjPAUC-4-SRT
try 120 second wait time

 96%|█████████▌| 197/205 [05:52<04:54, 36.83s/it]

200
total wait time : 121.11199998855591
recovery api cost

100%|██████████| 205/205 [05:56<00:00,  1.74s/it]

puuid downloaded!
downloading matchId!

 49%|████▉     | 100/205 [00:57<00:38,  2.76it/s]

api cost full : infinite loop start
loop location:  OdGyn47Ug7qhntWvjaY-rQb0mhpfd2c-2LCOQzjXHFYTf_VzLzhbHqWKHA87K5NX93r0MsgkvrIVgA
try 120 second wait time

 49%|████▉     | 101/205 [02:58<1:03:17, 36.52s/it]

200
total wait time : 120.47443914413452
recovery api cost

 98%|█████████▊| 200/205 [03:55<00:03,  1.46it/s]

api cost full : infinite loop start
loop location:  hwGm1NO7HJbgVfJMrJL2EonKPMXM8sfFfQHrsBmnei35EWpiKDeldJeBZlvVv6OyXA7BUn0jeLHMCw
try 120 second wait time

 98%|█████████▊| 201/205 [05:57<02:27, 36.89s/it]

200
total wait time : 120.76224708557129
recovery api cost

100%|██████████| 205/205 [06:00<00:00,  1.76s/it]

matchId downloaded!
downloading TimelineData!

 46%|████▋     | 95/205 [01:21<01:16,  1.43it/s]

api cost full : infinite loop start
loop location :  95
try 120 second wait time

 47%|████▋     | 96/205 [03:23<1:07:42, 37.27s/it]

200
total wait time :  122.3023419380188
recovery api cost

 95%|█████████▌| 195/205 [04:39<00:06,  1.54it/s]

api cost full : infinite loop start
loop location :  195
try 120 second wait time

 96%|█████████▌| 196/205 [06:42<05:37, 37.45s/it]

200
total wait time :  122.63534903526306
recovery api cost

100%|██████████| 205/205 [06:50<00:00,  2.00s/it]

TimelineData downloaded!