In [1]:
import requests
import json
import time
import pandas as pd
from tqdm import tqdm
import numpy as np

api_key = "RGAPI-fc28ab1c-d5a7-4ff7-a3cb-c7deb2595551"

In [5]:
import getLoLData2

In [6]:
cl15 = pd.read_csv("/Users/ichang-ug/Documents/GitHub/esports_YSAL/LOL/Data/CL15.csv")
cl15

,Unnamed: 0,gameId,blueWins,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueTotalDamageToChampion,...,redTowerKills,redMidTowerKills,redTopTowerKills,redBotTowerKills,redInhibitor,redFirstDragon,redDragonType,redDragon,redRiftHeralds,matchMin
0,0,KR_6419756778,True,28431,5816,46,9.2,361,80,25870,...,1,0,0,1,0,0,NaN,0,0,41
1,1,KR_6415275424,True,28714,6069,45,9.0,334,82,37285,...,1,1,0,0,0,0,NaN,0,1,26
2,2,KR_6423763038,True,23253,2203,43,8.6,365,83,25383,...,0,0,0,0,0,1,HEXTECH_DRAGON,1,0,33
3,3,KR_6416730851,False,22236,4126,42,8.4,314,72,20574,...,0,0,0,0,0,0,HEXTECH_DRAGON,1,0,21
4,4,KR_6421561510,False,28362,3772,44,8.8,367,52,28946,...,1,0,1,0,0,0,NaN,0,1,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,1516,KR_6424983956,True,30554,3244,47,9.4,396,102,29471,...,1,0,1,0,0,1,WATER_DRAGON,1,0,22
1517,1517,KR_6421600762,False,27689,6009,44,8.8,336,67,30941,...,0,0,0,0,0,1,CHEMTECH_DRAGON,1,1,22
1518,1518,KR_6421531877,True,31522,4172,45,9.0,340,60,38168,...,0,0,0,0,0,1,HEXTECH_DRAGON,1,0,23
1519,1519,KR_6419297103,True,29826,3953,47,9.4,380,95,30348,...,0,0,0,0,0,0,NaN,0,0,18
1520,1520,KR_6424954348,False,22837,3787,44,8.8,349,80,19630,...,1,0,0,1,0,1,CHEMTECH_DRAGON,1,0,22

In [7]:
df = getLoLData2.getTimelineData(api_key, 5,min = 15, count=1, match_input=True, matchId=cl15["gameId"])
df.to_csv("/Users/ichang-ug/Documents/GitHub/esports_YSAL/LOL/Data/CL15.csv")

tier, count inputs ignored.
downloading TimelineData!

  7%|▋         | 100/1521 [01:17<15:21,  1.54it/s]

api cost full : infinite loop start
loop location :  100
try 120 second wait time

  7%|▋         | 101/1521 [03:20<14:40:34, 37.21s/it]

200
total wait time :  122.07031893730164
recovery api cost

 13%|█▎        | 200/1521 [04:45<18:54,  1.16it/s]

api cost full : infinite loop start
loop location :  200
try 120 second wait time

 13%|█▎        | 201/1521 [06:48<13:41:18, 37.33s/it]

200
total wait time :  121.67137789726257
recovery api cost

 20%|█▉        | 300/1521 [08:04<09:36,  2.12it/s]

api cost full : infinite loop start
loop location :  300
try 120 second wait time

 20%|█▉        | 301/1521 [10:07<12:32:16, 37.00s/it]

200
total wait time :  121.85430192947388
recovery api cost

 26%|██▋       | 400/1521 [11:19<13:23,  1.39it/s]

api cost full : infinite loop start
loop location :  400
try 120 second wait time

 26%|██▋       | 401/1521 [13:21<11:36:54, 37.33s/it]

200
total wait time :  122.03425598144531
recovery api cost

 33%|███▎      | 500/1521 [14:54<09:41,  1.76it/s]

api cost full : infinite loop start
loop location :  500
try 120 second wait time

 33%|███▎      | 501/1521 [16:56<10:28:00, 36.94s/it]

200
total wait time :  121.51142978668213
recovery api cost

 39%|███▉      | 600/1521 [18:27<11:57,  1.28it/s]

api cost full : infinite loop start
loop location :  600
try 120 second wait time

 40%|███▉      | 601/1521 [20:29<9:29:25, 37.14s/it]

200
total wait time :  121.57745218276978
recovery api cost

 46%|████▌     | 700/1521 [21:46<07:52,  1.74it/s]

api cost full : infinite loop start
loop location :  700
try 120 second wait time

 46%|████▌     | 701/1521 [23:48<8:25:04, 36.96s/it]

200
total wait time :  121.58061003684998
recovery api cost

 73%|███████▎  | 1116/1521 [33:35<04:33,  1.48it/s]

api cost full : infinite loop start
loop location :  1116
try 120 second wait time

 73%|███████▎  | 1117/1521 [35:38<4:11:08, 37.30s/it]

200
total wait time :  122.5030038356781
recovery api cost

 80%|███████▉  | 1216/1521 [37:15<05:41,  1.12s/it]

api cost full : infinite loop start
loop location :  1216
try 120 second wait time

 80%|████████  | 1217/1521 [39:18<3:09:50, 37.47s/it]

200
total wait time :  121.85012316703796
recovery api cost

100%|██████████| 1521/1521 [46:29<00:00,  1.83s/it]

TimelineData downloaded!