In [1]:
import requests
import json
import time
import pandas as pd
from tqdm import tqdm
import numpy as np

api_key = "RGAPI-73eaeaf1-00c9-4ec4-ac9f-642c3732736e"

In [2]:
url="https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/III?page=1&api_key=" + api_key

In [3]:
r = requests.get(url)
r = r.json()
for i in r:
    print(i['summonerName'])

건학이
llIIIllIlllIlIl
SideCharacter
원챔충혐오자
BTOB 그리워하다
나나나눈누
마루는갱쥐
문자지민
리아쥬아
vvnvvnvnvn
틀니벤틀리
W1NGMAN
누나 제발
프로응애러
멍멍왈왈멍멍멍왈
박흐이수
숟가락 정점
닉값제데로함
쌍쌍쌍
NG 1
나는말랑말랑해
김홍순3
눈 예뻐지고 시포
PIXELNU
누수액
KOR961010
탱커챔
맞기전에 때려요
히 썸
응 아잇 어 12번
진짜 못참겠는데
하이 눈 김주호
천국에서 온 자
Mannim2
비정상적인 팀운
싸발연이
Smile runway
야옹야옹송아지
상어 코 때리기
나는할수있습니다
생 혼
뚜 딴
쥐종대왕
이응빡
38지주
always 15ff
KDF JG
23년생원딜러
tlswlemwkddls
zl존Er락DARK왕
Karsc
bixin32567904
지혈제
Round One
그 총
Vex or Alise
말걸지마라잡종
5코3성람머스
맛따봉
jiumeng
Park Shin Won
FA Silky
마스터이금비
채원이귀엽지
샨테비스탄
TES99
암살자가요
재능의 개화
뚱녀만골라팬다
잘했써
이렇게까지해야하
KR Monster Rat
솔랭에정뗌
체리콕도둑
저어어엉글러
kr7
허쉬초코토네이도
꼬시기만지는유현
낮잠zz
먹던콩
ADO Fans
탑라인만가는사람
Muteall asher
아이스악어청포도
와두콩
돌진완
Rebirth Cookie
겨울을 기다려요
톡톡씹히는오렌지
Dramaturgy
이동혓
귤 킹
겨울엔 찬물
무호흡 웨이트
껸과류
렁 언
자지잡놈
Barret M82A1
스벅아아얼음도둑
이천시민
화약통 대신 딱콩
갱 그만와주세요
붕슨같은게임안해
별 수호자 장민혁
이즈잡아주세요
지금싸우면니가져
커리맛 똥
빡치면 너도하셈
IGOLNIK
하오골
그님 티 모요
숯불돼지고기
성민치
최 효 팔
약속된승리의검
처음초롱
By사탕막대
봉담쭈니
꿀벌희지닝
윤태준2번째계정
걍 죽어라
천하의 정글러
옥시꽃
포챠나 인형
나답게
심점숙
와드충전핑와사기
무관귀1신
평화공원
자크 베놈
구데기킬러
도토리비빔막국수
갱플하는 양상국
해 명
비응신도구
전지적르블랑시점
낭만없는
이대론안돼
벌 헤는 밤
눈떠보니여기였음
Gwidoo
각화초5학년2반
인천동양동불주먹
아비에무아
신선해팔팔해
딩딩고
anycoloryoulike
붉은 너구리
원딜벽느낀사람
상남자 권혁
이화시장두번째집
차광선글라스
폐관수련다시시작
오홍영입니다
평행세계 데프트
립 스
LMH99
표범 너무 귀여워
만 섬
아들러 심리학자
리신머가리
엠 돌
104080
갈비굽는장인
박승호
맥심모델흑정몬
노갱이면머리박음
Solace
밥음복
긍정희망사랑평화
채팅게임 롤
우 먼
나쁜하루보내세요
혼자자요
조 쯩
신형만fan
ShoriRama
영정이라니
2007 10 12
참을라
캣뽀즈
Valh4lla
죽지못해살다
곽두팔남친
아이러브유
어리둥절엉망진창
07 JGKlNG
플레티넘 망나니
안가싫어부르지마
골통분쇄자류성현
아프지 않고 싶다
퀴여운코콤미
노유미 노브라움
zsxcasdasd
쏘주좋아요
HanDy
고무통523개
나 진짜 개못하네
키슨데왜벗어
꼬 차
미미링
nnIu
지욤이는 못말려
황금빛 버터쿠키
black sheep wall

In [4]:
import getLoLData2

In [14]:
si10 = pd.read_csv("/Users/ichang-ug/Documents/GitHub/esports_YSAL/LOL/Data/SI10.csv")
si10["gameId"]

0      KR_6395059620
1      KR_6440205352
2      KR_6445327329
3      KR_6446359322
4      KR_6430837683
           ...
198    KR_6431290184
199    KR_6441382187
200    KR_6439872865
201    KR_6446628016
202    KR_6402580356
Name: gameId, Length: 203, dtype: object

In [13]:
df = getLoLData2.getTimelineData(api_key, 4,10, match_input=True, matchId=si10["gameId"])
df.to_csv("/Users/ichang-ug/Documents/GitHub/esports_YSAL/LOL/Data/SI10.csv")

tier, count inputs ignored.
downloading TimelineData!

100%|██████████| 203/203 [05:01<00:00,  1.49s/it]

TimelineData downloaded!

In [11]:
df

,Unnamed: 0,gameId,blueWins,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueTotalDamageToChampion,...,redTowerKills,redMidTowerKills,redTopTowerKills,redBotTowerKills,redInhibitor,redFirstDragon,redDragonType,redDragon,redRiftHeralds,matchMin
0,0,KR_6411181876,True,15586,4386,34,6.8,177,36,12477,...,0,0,0,0,0,0,NaN,0,0,46
1,1,KR_6413074483,True,13403,3458,33,6.6,148,52,9972,...,0,0,0,0,0,0,NaN,0,0,24
2,2,KR_6380324085,False,12176,1596,30,6.0,112,40,9411,...,0,0,0,0,0,0,NaN,0,0,18
3,3,KR_6368209071,True,13056,2641,33,6.6,163,52,8218,...,0,0,0,0,0,0,NaN,0,0,33
4,4,KR_6412737696,False,12857,4227,34,6.8,160,48,9907,...,0,0,0,0,0,0,NaN,0,0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,KR_6329204959,False,13251,1671,30,6.0,148,37,9084,...,0,0,0,0,0,1,AIR_DRAGON,1,0,23
196,196,KR_6360296183,False,13620,3340,32,6.4,172,48,11444,...,0,0,0,0,0,1,EARTH_DRAGON,1,0,25
197,197,KR_6355593833,False,13969,3609,30,6.0,159,40,10912,...,0,0,0,0,0,0,NaN,0,0,23
198,198,KR_6369962565,False,11723,2073,31,6.2,135,36,8990,...,0,0,0,0,0,0,NaN,0,0,23
199,199,KR_6378094149,False,12051,2916,30,6.0,147,46,7520,...,0,0,0,0,0,1,FIRE_DRAGON,1,1,17