In [1]:
import requests
import json
import time
import pandas as pd
from tqdm import tqdm
import numpy as np

api_key = "RGAPI-def75b24-3914-4a63-83e3-8bfd24f2c617"

In [7]:
matchdata = {}
matchwins = {}
for i in tqdm(matchId):
    url = "https://asia.api.riotgames.com/lol/match/v5/matches/"+i+"/timeline?api_key="+api_key
    r = requests.get(url)

    if r.status_code ==200:
        pass
    elif r.status_code==429:
        print('api cost full : infinite loop start')
        print('loop location: ' ,i)
        start_time=time.time()
    
        while True:
            if r.status_code == 429:
                print('try 120 second wait time')
                time.sleep (120)
                
                r = requests.get (match_url)
                print(r_match.status_code)
            elif r.status_code == 200:
                print('total wait time :' , time.time() - start_time)
                print('recovery api cost')
                break
        
    try:
        matchdata[i]=r.json()['info']['frames'][10]
        # matchwins[]
    except:
        print("Error")

 60%|██████    | 3/5 [00:01<00:00,  2.18it/s]

Error

100%|██████████| 5/5 [00:02<00:00,  1.97it/s]

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
matchId = ['KR_6416085964', 'KR_6416039783', 'KR_6416021626', 'KR_6415864679', 'KR_6415827891']

In [55]:
df = getLastData(api_key, 0)

downloading Last Data

100%|██████████| 5/5 [00:02<00:00,  2.05it/s]

TimelineData downloaded!

In [56]:
df["redDragonType"][0]

'EARTH_DRAGON,HEXTECH_DRAGON,CHEMTECH_DRAGON,CHEMTECH_DRAGON'

In [31]:
h = [0,1,2]
try:
    h[9]
    print("yes")
except:
    print("NO")

NO

In [10]:
from loldata_eda import lolDataEda

In [14]:
lolDataEda("CL10")

In [15]:
lolDataEda("CL15")
lolDataEda("GM10")
lolDataEda("GM15")

In [11]:
df = pd.read_csv("/Users/ichang-ug/Documents/GitHub/esports_YSAL/LOL/CHANGWOOK/CL15_last_fix.csv")

In [12]:
df

,blueWins,blueTotalGolds,blueTotalLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueTotalDamageToChampion,blueFirstBlood,blueKill,blueDeath,blueAssist,...,blueAIR_DRAGON,blueEARTH_DRAGON,blueCHEMTECH_DRAGON,blueHEXTECH_DRAGON,redWATER_DRAGON,redFIRE_DRAGON,redAIR_DRAGON,redEARTH_DRAGON,redCHEMTECH_DRAGON,redHEXTECH_DRAGON
0,1,68345,68,821,234,133185,1,34,36,80,...,1,0,1,0,0,0,0,0,1,0
1,1,45134,59,572,152,82355,0,30,17,39,...,1,0,1,1,0,0,0,0,0,0
2,1,59883,67,672,234,112250,1,34,30,89,...,0,1,0,0,0,1,0,0,0,1
3,0,28396,45,445,101,32956,1,9,19,13,...,0,0,0,0,0,0,0,0,0,1
4,0,57451,67,741,157,102647,1,39,37,51,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,1,44325,54,563,165,60656,1,28,13,40,...,0,0,0,1,1,0,0,0,0,0
1517,0,33987,46,485,99,44699,1,24,25,31,...,0,0,0,1,0,1,0,0,1,0
1518,1,42094,50,454,98,79347,1,36,14,61,...,0,0,1,0,0,0,0,0,0,1
1519,1,29957,43,412,102,37715,1,22,6,30,...,0,0,1,0,0,0,0,0,0,0
1520,0,27460,44,469,101,30780,0,7,24,8,...,0,0,0,0,0,0,1,0,1,0

In [6]:
url="https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/III?page="+ str(50) +"&api_key=" + api_key

In [7]:
r = requests.get(url)

In [16]:
import getLoLData2

In [17]:
getLoLData2.getSumId(api_key, 3)

downloading summonerID!

KeyError: 'entries'