In [1]:
import requests
import json
import time
import pandas as pd
from tqdm import tqdm
import numpy as np

api_key = "RGAPI-fc28ab1c-d5a7-4ff7-a3cb-c7deb2595551"

In [2]:
import getLoLData2

In [7]:
cl15 = pd.read_csv("/Users/ichang-ug/Documents/GitHub/esports_YSAL/LOL/Data/CL15_ver2.csv")
cl15

,gameId,blueWins,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueTotalDamageToChampion,blueFirstBlood,...,redFirstTowerLane,redTowerKills,redMidTowerKills,redTopTowerKills,redBotTowerKills,redInhibitor,redFirstDragon,redDragonType,redDragon,redRiftHeralds
0,KR_6419756778,True,28431,5816,46,9.2,361,80,25870,1,...,BOT_LANE,1,0,0,1,0,0,NaN,0,0
1,KR_6415275424,True,28714,6069,45,9.0,334,82,37285,0,...,MID_LANE,1,1,0,0,0,0,NaN,0,1
2,KR_6423763038,True,23253,2203,43,8.6,365,83,25383,1,...,NaN,0,0,0,0,0,1,HEXTECH_DRAGON,1,0
3,KR_6416730851,False,22236,4126,42,8.4,314,72,20574,1,...,NaN,0,0,0,0,0,0,HEXTECH_DRAGON,1,0
4,KR_6421561510,False,28362,3772,44,8.8,367,52,28946,1,...,TOP_LANE,1,0,1,0,0,0,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,KR_6424983956,True,30554,3244,47,9.4,396,102,29471,1,...,TOP_LANE,1,0,1,0,0,1,WATER_DRAGON,1,0
1517,KR_6421600762,False,27689,6009,44,8.8,336,67,30941,1,...,NaN,0,0,0,0,0,1,CHEMTECH_DRAGON,1,1
1518,KR_6421531877,True,31522,4172,45,9.0,340,60,38168,1,...,NaN,0,0,0,0,0,1,HEXTECH_DRAGON,1,0
1519,KR_6419297103,True,29826,3953,47,9.4,380,95,30348,1,...,NaN,0,0,0,0,0,0,NaN,0,0
1520,KR_6424954348,False,22837,3787,44,8.8,349,80,19630,0,...,BOT_LANE,1,0,0,1,0,1,CHEMTECH_DRAGON,1,0

In [9]:
df = getLoLData2.getTimelineData(api_key, 5,min = 15, count=1, match_input=True, matchId=cl15["gameId"])
df.to_csv("/Users/ichang-ug/Documents/GitHub/esports_YSAL/LOL/Data/CL15.csv")

tier, count, min inputs ignored.
downloading TimelineData!

  3%|▎         | 42/1521 [00:38<21:23,  1.15it/s]

api cost full : infinite loop start
loop location :  42
try 120 second wait time

  3%|▎         | 43/1521 [02:42<15:30:02, 37.76s/it]

200
total wait time :  123.05215716362
recovery api cost

  9%|▉         | 142/1521 [04:18<17:41,  1.30it/s]

api cost full : infinite loop start
loop location :  142
try 120 second wait time

  9%|▉         | 143/1521 [06:21<14:20:44, 37.48s/it]

200
total wait time :  122.63272500038147
recovery api cost

 79%|███████▊  | 1194/1521 [32:39<05:28,  1.00s/it]

api cost full : infinite loop start
loop location :  1194
try 120 second wait time

 79%|███████▊  | 1195/1521 [34:42<3:24:59, 37.73s/it]

200
total wait time :  122.82027912139893
recovery api cost

100%|██████████| 1521/1521 [42:13<00:00,  1.67s/it]

TimelineData downloaded!